<h2> This is what Reddit on Rails would look like.. </h2>

The time is <%= Time.now.strftime("%l:%M %P on %B%e, %Y.") %>


<ul>
<% if @links.empty? %>
  <%= "no links!"%>
<% else %>
    <% @links.each do |link| %>
      <li><h4><%= link_to truncate("#{link.title}", length: 50, separator: ' '), link_path(link.id) %></h4></li>
        <ul>
          <li><%= link_to 'comments', link %> | <%= "submitted #{time_ago_in_words(link.created_at)} ago by #{link.user.username}" %></li>
        </ul>
    <% end %>
<% end %>
</ul>
<br />
<%= will_paginate @links %>






<%#= link_to 'Add a link', new_link_path %>




