<h2> Show page </h2>

<ul>
  <li><%= @link.title %></li>
  <li><%= link_to "#{@link.url}", @link.url %></li>
  <% if @link.user.nil? %>
    <li><%= "No User!" %></li>
  <% else %>
    <li><%= "Username: #{@link.user.username}" %></li>
    <li><%= "User: #{@link.user.email}"%></li>
    <% end %>
</ul>

<h3>Comments</h3>
<ul>
  <% @comments.each do |comment| %> 
  <li> <%= comment.message %></li>
  <ul>
    <li><%= "#{comment.user.username} said this!" %>
  </ul>
  <% end %>
</ul>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being stored: </h2>
  
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, placeholder: "Add a comment" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :link_id, value: @link.id %>

<% end %>
        







<br />
<%= link_to 'See all the links', root_path %>