<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  
    <title>RedditOnRails</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <script src="http://heroku.github.com/template-app-bootstrap/jquery-1.7.1.min.js"></script>
    <script src="http://heroku.github.com/template-app-bootstrap/jquery.replacetext.min.js"></script>
    
    
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>   
          </a>
          <a class="brand" href="/">Reddit On Rails!</a>
          <div class="nav">
            <ul class="nav">
              <% if current_user.present? %> <!-- #user is logged in, show log out link -->
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'Create Link', new_link_path %></li>
              <% else %> <!-- #user isn't logged in, show log in link -->
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Register Now!', new_user_registration_path%></li>
              <% end %>
              <li><%= link_to 'Google!', "https://google.com" %></li>
              <li><%= link_to 'Apple', "https://www.apple.com" %></li>
            </ul>
          </div>
        </div>
      </div>    
    </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <div class="conatiner">
      <div class="row">
        <div class="span3">
          <h2>Sidebar?</h2>
          SOME LOREMIPSUM
        </div>
        <div class="span9"><%= yield %></div>
      </div>
    </div>
    
        







  </body>
</html>
